.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  padding: 5px;
  position: relative;
  left: 50px;
  top: 5px;
}

.sidebar {
  color: #ffff;
  background-color: #31031d;
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #31031d;
}

.menu {
  padding: 20px;
  margin: 10px;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  height: 100vh;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #31031d;
  color: #fff;
}

.sidebar-item {
  padding: 18px;
  display: block;
  color: #fff;
}

.sidebar-item:hover {
  background-color: #0f2d37;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title span {
  display: flex;
}

.sidebar-title span i {
  display: inline-block;
  width: 30px;
}

.sidebar-title i {
  cursor: pointer;
  transition: transform 0.5s;
}

.sidebar-item.active .sidebar-title>i {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.sidebar-content {
  padding-top: 5px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  margin-left: 20px;
}

.sidebar-item.active .sidebar-content {
  height: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-content>i {
  width: 25px;
  font-size: 14px;
}


.sidebar--open {
  display: flex;
  transition: padding .5s;
  padding: 0 0 0 205px;
  transition: margin .5s;
  margin: 0 0 0 -208px;
}

.side {
  margin-left: 210px;
  color: #fff;
  font-size: 30px;
}

.title {
  margin: top 70px;
}